<div class="container">
  
  <h1>FormArray</h1>

  <form [formGroup]="profileForm">

    <h4>Perfil</h4>

    <div formArrayName="aliases">
      <h5>Alias</h5>
      <div *ngFor="let alias of controls(); let i=index">
        <div class="mb-3">
          <label for="alias-{{ i }}">Alias: </label>
          <input id="alias-{{ i }}" type="text" class="form-control" [formControlName]="i">
        </div>
      </div>
    </div>

    <div class="d-grid gap-2">
      <button type="button" class="btn btn-primary" (click)="controls()"> 
        Obtener Controles
      </button>
      <button type="button" class="btn btn-primary" (click)="length()"> 
        Obtener Longitud 
      </button>
      <button type="button" class="btn btn-primary" (click)="atFirst()"> 
        Obtener Primer Control
      </button>
      <button type="button" class="btn btn-primary" (click)="push()">       
        Agregar Control 
      </button>
      <button type="button" class="btn btn-primary" (click)="insertFirst()">       
        Insertar Control en el Primer Lugar 
      </button>
      <button type="button" class="btn btn-primary" (click)="removeAtFirst()">       
        Remover El Primer Control 
      </button>
      <button type="button" class="btn btn-primary" (click)="setFirstControl()">       
        Reemplazar el Primer Control 
      </button>
      <button type="button" class="btn btn-primary" (click)="clear()"> 
        Limpiar 
      </button>
      <button type="button" class="btn btn-primary" (click)="value()"> 
        Obtener Valor
      </button>
      <button type="button" class="btn btn-primary" (click)="validator()"> 
        Obtener Validador 
      </button>
      <button type="button" class="btn btn-primary" (click)="asyncValidator()"> 
        Obtener Validador de Forma Asincrona 
      </button>
      <button type="button" class="btn btn-primary" (click)="parent()"> 
        Obtener Padre 
      </button>
      <button type="button" class="btn btn-primary" (click)="status()"> 
        Obtener Estado 
      </button>
      <button type="button" class="btn btn-primary" (click)="valid()"> 
        ¿Es Valido?
      </button>
      <button type="button" class="btn btn-primary" (click)="invalid()"> 
        ¿Es Invalido?
      </button>
      <button type="button" class="btn btn-primary" (click)="pending()"> 
        ¿Esta Pendiente?
      </button>
      <button type="button" class="btn btn-primary" (click)="disabled()"> 
        ¿Esta Deshabilitado?
      </button>
      <button type="button" class="btn btn-primary" (click)="enabled()"> 
        ¿Esta Habilitado?
      </button>
      <button type="button" class="btn btn-primary" (click)="errors()"> 
        Obtener Errores 
      </button>
      <button type="button" class="btn btn-primary" (click)="pristine()"> 
        ¿Esta Limpio?
      </button>
      <button type="button" class="btn btn-primary" (click)="dirty()"> 
        ¿Esta Sucio?
      </button>
      <button type="button" class="btn btn-primary" (click)="touched()"> 
        ¿Esta Tocado?
      </button>
      <button type="button" class="btn btn-primary" (click)="untouched()"> 
        ¿Esta Sin Tocar?
      </button>
      <button type="button" class="btn btn-primary" (click)="valueChanges()">       
        Obtener Cambios en el Valor 
      </button>
      <button type="button" class="btn btn-primary" (click)="statusChanges()"> 
        Obtener Cambios en el Estado 
      </button>
      <button type="button" class="btn btn-primary" (click)="updateOn()">       
        Obtener Estrategia de Actualizacion 
      </button>
      <button type="button" class="btn btn-primary" (click)="root()"> 
        Obtener Padre 
      </button>
      <button type="button" class="btn btn-primary" (click)="setRequiredValidator()">       
        Asignar Validador Requerido
      </button>
      <button type="button" class="btn btn-primary" (click)="setUniqueAliasValidator()"> 
        Asignar Validador de Alias Unicos 
      </button>
      <button type="button" class="btn btn-primary" (click)="addRequiredValidator()">       
        Agregar Validador Requerido 
      </button>
      <button type="button" class="btn btn-primary" (click)="addUniqueAliasAsyncValidator()"> 
        Agregar Validador Asincrono de Alias Unicos
      </button>
      <button type="button" class="btn btn-primary" (click)="removeRequiredValidator()">       
        Remover Validador Requerido 
      </button>
      <button type="button" class="btn btn-primary" (click)="removeUniqueAliasAsyncValidator()"> 
        Remover Validador Asicrono de Alias Unicos
      </button>
      <button type="button" class="btn btn-primary" (click)="hasRequiredValidator()"> 
        ¿Hay Validador Requerido?
      </button>
      <button type="button" class="btn btn-primary" (click)="hasUniqueAliasAsyncValidator()"> 
        ¿Hay Validador Asincrono de Alias Unicos en?
      </button>
      <button type="button" class="btn btn-primary" (click)="clearValidators()">       
        Limpiar Validadores
      </button>
      <button type="button" class="btn btn-primary" (click)="clearAsyncValidators()">       
        Limpiar Validadores Asincrono
      </button>
      <button type="button" class="btn btn-primary" (click)="markAsTouched()">      
        Marcar Como Tocado
      </button>
      <button type="button" class="btn btn-primary" (click)="markAllAsTouched()">       
        Marcar Todo Como Tocado 
      </button>
      <button type="button" class="btn btn-primary" (click)="markAsUntouched()">       
        Marcar Como Sin Tocar
      </button>
      <button type="button" class="btn btn-primary" (click)="markAsDirty()">       
        Marcar Como Sucio
      </button>
      <button type="button" class="btn btn-primary" (click)="markAsPristine()">       
        Marcar Como Limpio
      </button>
      <button type="button" class="btn btn-primary" (click)="markAsPending()">       
        Marcar Como Pendiente
      </button>
      <button type="button" class="btn btn-primary" (click)="disable()">       
        Deshabilitar 
      </button>
      <button type="button" class="btn btn-primary" (click)="enable()">       
        Habilitar 
      </button>
      <button type="button" class="btn btn-primary" (click)="setParent()">       
        Asignar Padre 
      </button>
      <button type="button" class="btn btn-primary" (click)="setValue()">       
        Asignar Valor 
      </button>
      <button type="button" class="btn btn-primary" (click)="patchValueFirst()">       
        Asignar Valor al Primer Control 
      </button>
      <button type="button" class="btn btn-primary" (click)="reset()">       
        Reestablecer 
      </button>
      <button type="button" class="btn btn-primary" (click)="getRawValue()">       
        Obtener Valor en Crudo 
      </button>
      <button type="button" class="btn btn-primary" (click)="updateValueAndValidity()">       
        Actualizar Valor y Validacion 
      </button>
      <button type="button" class="btn btn-primary" (click)="setRequiredError()">       
        Asignar Error de Requerido 
      </button>
      <button type="button" class="btn btn-primary" (click)="getRequiredtError()">       
        Obtener Error de Requerido 
      </button>    
      <button type="button" class="btn btn-primary" (click)="hasRequiredError()">       
        ¿Hay un Error de Requerido?
      </button>
    </div> 

  </form>

</div>